.TalentDetailSkills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.TalentDetailHeader {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto auto;
  column-gap: 8px;
  grid-template-areas:
    "profile header inputs"
    "profile subheader subheader"
    "profile rating socialnetworks";
  align-content: center;
  align-items: center;
}
.TalentProfile{
  grid-area: profile;
}
.TalentHeader{
  grid-area: header;
}
.TalentSubheader2{
  grid-area: subheader;
}
.TalentInputs{
  grid-area: inputs;
}
.TalentRating{
  grid-area: rating;
}
.TalentSocialNetworks{
  grid-area: socialnetworks;
}