.TalentDetailSkills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.TalentDetailHeader {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-content: center;
  align-items: center;
}
