@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.4em;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #8fc6eb
}
input::-ms-reveal,
input::-ms-clear {
  display: none;
}